// Utf-8
@charset "utf-8";

/*! Express, MongoDB Twig and Gulp NodeJS mini Website !*/
/*! https://dyarfi.github.io/ @2019 !*/

/*
|--------------------------------------------------------------------------
| Base Variables
|--------------------------------------------------------------------------
*/

// Font Family Variables
$font-family-base : 'Raleway', sans-serif;
$font-family-head-base : 'Nothing You Could Do', cursive; // Custom
$font-family-lead-base : 'Montserrat', sans-serif; // Custom

// Font Weight Base
$font-weight-light:           100 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            700 !default;
$font-weight-bolder:          900 !default;

$white : #ffffff;
$gray-800: #343a40 !default;

// Body Variables
$body-bg :                   $white !default;
$body-color : $gray-800 !default;

// Theme Color Variables
$theme-color : #cc9900 !default; // #cc990  0
$theme:         $theme-color !default;

// $link-color:                darken($theme-color, 7.5%) !default;
// $link-decoration:           none !default;
// $link-hover-color:          darken($theme-color, 15%) !default;
// $link-hover-decoration:     underline !default;

// Vendors Variables
@import "vendors/_variables"; // --- Vendors Variables
@import "vendors/bootstrap/bootstrap"; // --- Vendors Bootstrap 4

// Other Vendors 
@import "vendors/animate.scss/animate"; // --- Vendors Variables

// Background variables light
$light-primary : lighten($primary, 25%);
$light-success : lighten($success, 25%);
$light-warning : lighten($warning, 25%);
$light-danger : lighten($danger, 25%);
$light-info : lighten($info, 25%);
$light-dark : lighten($dark, 25%);
$light-theme : lighten($theme, 25%);

// Background variables dark
$dark-primary : darken($primary, 28%);
$dark-success : darken($success, 28%);
$dark-warning : darken($warning, 28%);
$dark-danger : darken($danger, 28%);
$dark-info : darken($info, 16%);
$dark-secondary : darken($secondary, 16%);
$dark-theme : darken($theme, 32%);

// ============================================= Utilities =============================================
// Default text shadow effect
// =================== Placeholer =================== //
%text-shadow { text-shadow: 0px 1px 0px rgba($dark, 1); }
%text-shadow-dark { text-shadow: 0px 1px 0px rgba($black, 1); }
%text-shadow-white { text-shadow: 0px 1px 0px rgba($white, 1); }
.text-shadow {
	@extend %text-shadow;
}
.text-shadow-dark {
	@extend %text-shadow-dark;
}
.copy-text-head {
	visibility: hidden;
}
// =================== Placeholer =================== //
// Default text transform
%uppercase { text-transform: uppercase; }
%lowercase { text-transform: lowercase; }
.uppercase {
    @extend %uppercase;
}
.lowercase {
    @extend %lowercase;
}
// =================== Placeholer =================== //
// Box Shadow Placeholer and Class
%box-shadow {
	box-shadow: 0px 0px 18px -3px rgba(143, 143, 143, .50);
}
%box-shadow-hover {
	box-shadow: 0px 0px 20px -3px rgba(143, 143, 143, .75);
}
// -- Placeholder -- box shadow dark
%box-shadow-dark {
	box-shadow: 3px 3px 11px -3px rgba(0, 0, 0, .25);
}
%box-shadow-dark-hover {
	box-shadow: 3px 3px 11px -3px rgba(0, 0, 0, .75);
}
// -- Class Default -- Box Shadow Default Class
.box-shadow {
	@extend %box-shadow;
}
// -- Class Dark -- Box Shadow Dark Class
.box-shadow-dark {
	@extend %box-shadow-dark;
}
%ilist-c {
	// -webkit-filter: none;
	filter: none;
}
%ilist-c:hover {
	// -webkit-filter: contrast(1.3);
	filter: contrast(1.3);
}
/*! --- 4.1.2 Variable Invert --- */
%ilist-c-inv {
	// -webkit-filter: contrast(1.3);
	filter: contrast(1.3);
}
%ilist-c-inv:hover {
	// -webkit-filter: none;
  	filter: none;
}
/*! --- 4.2.1 Class Default - contrast image filter --- */
.ilist-c {
	@extend %ilist-c;
	&:hover {
		@extend %ilist-c:hover;
	}
}
/*! --- 4.2.2 Class Invert - contrast image filter --- */
.ilist-c-inv {
	@extend %ilist-c-inv;
	&:hover {
		@extend %ilist-c-inv:hover;
	}
}
/*! --- 6.3 Background Overlay Filters --- */
// =================== Placeholer =================== //
%overlay {
    content: " ";
    // Positions
	position: absolute;
	z-index: 0;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width:100%;
	height: 100%;
	display: block;
	pointer-events: none;
}
%overlay-parent {
	background-size: cover;
    position: relative;
    // z-index: -1;
	> img {
        z-index: -1
	}
}

[data-filter=overlay-dark] {
	&:before {
		background-color:rgba($black,.5);
	}
}
[data-filter=overlay-mute] {
	&:before {
		background-color:rgba($black,.25);
    }
    
	@extend %overlay-parent;
}
[data-filter=overlay-warning] {
	&:before {
		background-color:rgba($dark-warning,.5);
	}
}
[data-filter=overlay-secondary] {
	&:before {
		background-color:rgba($dark-secondary,.5);
	}
}
[data-filter=overlay-theme] {
	&:before {
		background-color:rgba($dark-theme,.5);
	}
}
[data-filter=overlay-dark] {
	> * {
        position: relative;
	}
	@extend %overlay-parent;
	&:before {
		@extend %overlay;
	}
}
[data-filter=overlay-mute] {
	> * {
        position: relative;
	}
	@extend %overlay-parent;
	&:before {
        @extend %overlay;
	}
}
[data-filter=overlay-warning] {
	> * {
		position: relative;
	}
	@extend %overlay-parent;
	&:before {
		@extend %overlay;
	}
}
[data-filter=overlay-secondary] {
	> * {
		position: relative;
	}
	@extend %overlay-parent;
	&:before {
		@extend %overlay;
	}
}
[data-filter=overlay-theme] {
	> * {
		position: relative;
	}
	@extend %overlay-parent;
	&:before {
		@extend %overlay;
	}
}
h1,h2,h3,h4,h5,h6 {
    text-transform: uppercase;
    font-weight: 900;
    // border-bottom: 1px solid #555555;
}
.preloader {
    width: 100%;
    height: 100%;
    top: 0px;
    position: fixed;
    z-index: 99999;
    background: #fff;
    opacity: 1; 
    transition: .25s ease-in-out;
}
.preloader .cssload-speeding-wheel {
    position: absolute;
    top: calc(50% - 3.5px);
    left: calc(50% - 3.5px)
}
.preloader:before{
    content: '';
    display: block;
    padding-top: 100%;
}
.circular {
    animation: rotate 2s linear infinite;
    height: 50px;
    transform-origin: center center;
    width: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round;
}
// .animate {
//     animation-delay: 2s;
// }
.form-group {
    margin-top: 1rem
}
// header {
//     overflow: hidden;
// }
// Adding font-weight-bolder
.font-weight-bolder {
    font-weight: $font-weight-bolder;
}
// Display font-weight override
.display-1, .display-2, .display-3, .display-4 {
    font-weight: 900;
}
// Headline for headline
.headline {
    // Positions
    position: relative;
    // Spacings
    margin-bottom: 1.75rem;
    padding-bottom: 1rem;
    color:$secondary;
    &:after {
        // Positions
        position: absolute;
        bottom:0;
        left:0;
        content:"";
        // Sizes
        height: 4px;
        width:25%;
        background-color: #333333;
    }
    &-center {
        font-weight: $font-weight-bolder;
        text-transform: uppercase;
        position: relative;
        color: $secondary;
        &:before {
            // Positions
            position: absolute;
            z-index: -1;
            left: 0;
            right: 0;
            // top: 0;
            bottom:10%;
            display: block;
            margin: auto;
            content: "";
            // Sizes
            height: 10px;
            width: 100%;
            background-color: rgba($warning, .5);
            // background-color:lighten($secondary, 45%);
        }
    }
}
.mm-heading {
    position: relative;
    margin-bottom: 2rem;
    &:after {
        content:"";
        // Positions
        position: absolute;
        bottom:-72%;
        left:0;
        // Sizes
        height: 3px;
        width:4%;
        background-color: #CCCCCC;
    }
}
// Service 
.service-list {
    &__home-left, &__home-right {
        position: relative;
        overflow: hidden;
        &:before {
            content: "";
            // Positions
            position: absolute;
            top: 10%;
            bottom: 0;
            z-index: -1;
            width: 510px;
            transform: rotate(-50deg);
            height: 510px;
            opacity: .3;
            // Backgrounds
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAANklEQVQoU2NkIBIwEqmOgXyFU6dObQDZkp2dDaZhAMVEmCKYJLJi8hSCTCLKanwhQL6vcZkKAMbtEAuAaq67AAAAAElFTkSuQmCC');
            background-position: top center;
            background-repeat: repeat;
            background-attachment: scroll;
        }
    }
    &__home-left {
        &:before {
            left: -5%;
        }            
    }
    &__home-right {
        &:before {
            right: -5%;
        }
    }
    &__image {
        // Positions
        position: relative;
        z-index: 0;
        // Spacings
        padding-left: 15px;
        padding-right: 15px;
	}
	&__body {
        &_right, &_left {
            // Positions
            position: absolute;
            top:15%;
            bottom:10%;        
            z-index: 1;
            margin-bottom:2rem;
            background:rgba($white,.9);
            height: 85%;
            transition: transform .5s ease;
            &:after {
                margin-top: -30px;
                border: solid transparent;
                content: " ";
                // Positions
                position: absolute;
                top: 50%;
                height: 0;
                width: 0;
                pointer-events: none;
                // Borders
                border-color: rgba(255, 255, 255, 0);
                border-width: 30px;                
                transition: transform .5s ease;           
            }
            &:hover {
                @extend %box-shadow-hover;
                transform: translate(0,-20px);
                // &:after {
                //     transform: translateY(-90px);
                // }
            }
            @extend %box-shadow;
            @include media-breakpoint-down(lg) {
                top:15%;
                overflow-y: auto;
                overflow-x: hidden;
            }
            @include media-breakpoint-down(sm) { 
                top:8%;
            }
        }
        &_right {
            right:-2%;
            &:after {
                border-right-color: rgba($white,.9);
                right: 100%;
            }
        }
        &_left {
            left:-2%;
            &:after {
                border-left-color: rgba($white,.9);
                left: 100%;
            }
        }         
    }    
	&__content {
        position: relative;
        overflow: hidden;	
        &:before {
            content: "";
            // Positions
            position: absolute;
            right: -5%;
            top: 10%;
            bottom: 0;
            z-index: -1;
            width: 824px;
            transform: rotate(-50deg);
            height: 200px;
            opacity: .3;
            // Backgrounds
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAANklEQVQoU2NkIBIwEqmOgXyFU6dObQDZkp2dDaZhAMVEmCKYJLJi8hSCTCLKanwhQL6vcZkKAMbtEAuAaq67AAAAAElFTkSuQmCC');
            background-position: top center;
            background-repeat: repeat;
            background-attachment: scroll;
        }
        padding:5rem 2.5rem 2rem 2.5rem;
        color: $secondary;
        @include media-breakpoint-down(sm) {
            padding:1.5rem 1.75rem 1rem 1.75rem;
        }
	}
	&__caption {
		margin-top:.25rem;
		padding-right: .75rem;
        padding-bottom: 1.4rem;
        @include media-breakpoint-down(sm) {
		    padding-right: .45rem;
        }
        p {
            color:#444;
        }
    }
    &__headline {
        font-weight: $font-weight-bolder;
        // font-family: $font-head-base;
        // font-size: 3rem;
        text-transform: uppercase;
        color:$secondary;
        // Spacings
        margin-top:.5rem;
        margin-bottom:1.5rem;
        padding-bottom: .5rem;
        position: relative;
        &:after {
            position: absolute;
            bottom: 0;
            left: 0;
            content: "";
            height: 3px;
            width: 25%;
            background-color: #333333;
        }
        @include media-breakpoint-down(sm) {
            font-size: 1.25rem;
        }
    }	
    &:hover {
		.menu-list__thumb > img {
			transform: translateY(-30%);
		}
	}
}
// Contact 
.contact {
    position: relative;
    overflow: hidden;
    &:before {
        content: "";
        position: absolute;
        left: -5%;
        top: 10%;
        bottom: 0;
        z-index: -1;
        width: 510px;
        transform: rotate(-50deg);
        height: 510px;
        opacity: .3;
        // Backgrounds
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAANklEQVQoU2NkIBIwEqmOgXyFU6dObQDZkp2dDaZhAMVEmCKYJLJi8hSCTCLKanwhQL6vcZkKAMbtEAuAaq67AAAAAElFTkSuQmCC');
        background-position: top center;
        background-repeat: repeat;
        background-attachment: scroll;
    }
}
// Listings
.list {
    &-links {
        padding-left: 0;
        li {
            margin-left:1.25rem;
            list-style-type: circle;
        }
        a {
            display: block;
            // Spacing
            padding-left: .15rem;
            padding-bottom: .15rem;
            font-weight: 700;
            // Transition
            transition: .25s ease padding-left;
        }
        a:hover {
            padding-left:.35rem;
        }
    }
}
// App Logo
// .App-logo {
//   animation: App-logo-spin infinite 20s linear;
// }
// Logo animation
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    // transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
// Main top Navbar 
#navbar-top.p-0 img.App-logo {
    animation: App-logo-spin .75s ease-out;
}
// Navbar override
.navbar {
    // padding: 1.35rem 1rem;
    z-index: 1;
    // overflow: hidden;
    .nav-item {
        // Spacings
        padding-left:1rem;
        padding-right:1rem;
        position: relative;
        z-index: 0;
        &.active {
            .nav-link {
                color:darken($warning,15.5%);
            }
            @include media-breakpoint-up(md) { 
                &:before {
                    content:"";
                    // Positioning
                    position: absolute;
                    left:0;
                    right:0;
                    bottom:12%;
                    z-index: -1;
                    height: 2px;
                    width: 26px;
                    margin:0 auto;
                    background-color: rgba($warning, .4);
                }
            }
        }
    }
    .nav-link {
        text-transform: uppercase;
        font-weight: 800;
    }
    @include media-breakpoint-down(sm) {
        .navbar-collapse {
            margin-top: 1.25rem; 
            margin-bottom: 1.25rem;
        }
        .nav-link {
            // Spacings
            padding-left:0rem;
            padding-right:0rem;
            padding-top:.75rem;
            padding-bottom:.75rem;
        }
    }
    // .container-fluid {
        // position: relative;
        // overflow: hidden;
        // height:100%;
        // width:100%;
    // }
    transition: padding ease-out .15s;
}
// Navbar Brand
.navbar-brand {
    // Font sets
    font-size: 1.35rem;
    font-weight: 900;
    // Spacing
    padding-top: 0;
    padding-bottom: 0; 
    margin-top: 0;
    margin-bottom: 0;
    // position: relative;
    // overflow: hidden;
}
// Button default
.btn {
    text-transform: uppercase
}
// .navbar-bg-holder
.navbar-bg-holder {
    right: 0;
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 700px;
    top: 0;
    z-index: -1;
    &:before {
        content: "";
        // Fonts
        font-weight: $font-weight-bold;
        // Positioning
        position: absolute;
        right: -15%;
        top: 0%;
        // bottom: 0;
        // z-index: -1;
        width: 640px;
        transform: rotate(-50deg);
        height: 180px;
        opacity: .2;
        // Backgrounds
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAANklEQVQoU2NkIBIwEqmOgXyFU6dObQDZkp2dDaZhAMVEmCKYJLJi8hSCTCLKanwhQL6vcZkKAMbtEAuAaq67AAAAAElFTkSuQmCC');
        background-position: top center;
        background-repeat: repeat;
        background-attachment: scroll;        
    }
}
.button-burger, .button-close {
	// position: absolute;
	// @extend make-container;
    transition: .5s ease;
    // right: 14px;
    // z-index: 1;
    .btn {
        // color: $warning;
        color: $white;
        transition: .5s ease;
        border-radius: 0;
        font-size: 1.20rem;
        // transform: rotate(0deg);
        // &:focus {
        // &.toggled {
        //     transform: rotate(0deg);
        //     outline: none !important;
        //     box-shadow: none;
        // }
        &:hover {
            color:darken($white, 20%);
        }
    }
}
.button-burger {
    // top: 22px;
    .btn {
        &.toggled {
            // transform: rotate(-180deg);
            // transform: scale(-1) rotate(-180deg);
            outline: none !important;
            box-shadow: none;
        }
    }
}
.button-close {
	// top: 22px;
	// right:16px;
	margin-top: 22px;
	margin-right:84px;
	float:right;
    .btn {
		// transform: scale(-1) rotate(180deg);
        &.toggled {
            transform: rotate(-180deg);
            // transform: scale(-1) rotate(-180deg);
            outline: none !important;
            box-shadow: none;
        }
        color: $warning;
        &:hover {
            color:darken($warning, 20%);
        }
    }
}
/* === Burger Menu === */
.burger {
	// display: block;
	cursor: pointer;
	padding: 10px;
	span {
		display: block;
		// width: 40px;
		width: 22px;
		height: 2px;
		margin:  5px 0;
		// background: #00eca6;
		background: $white;
		transition: .6s cubic-bezier(0.075, 0.82, 0.165, 1) all;		
		&:nth-child(2) {
			width: 14px !important;
			transform: width !important;			
		}
	}

	&:focus {				
		span:nth-child(even) {
			width: 22px !important;
		}
		span:nth-child(odd) {
			width: 14px !important;
		}
	}

	&:hover {
		span {
        // margin: 8px 0;
        &:nth-child(2) {
          width: 22px !important;
        }
		}
  }
}
/* === Fixed Menu === */
.fixed-menu {
  position: fixed;
  height: 100%;
  width: 33%;
  // width: 100%;
  top:0;
  bottom:0;
  right:0;
  // background-color:#fafafa;
  background-color:rgb(250, 250, 250); 
  transition: .60s ease;
  transform: translateX(0%);
  // display: block;
  visibility: visible;
  // z-index: 1039;
  z-index: 1031;
  // height: auto;
  @include media-breakpoint-down(md) {
      min-width: 75%;
  }
  &:before {
    content:" ";
    position: absolute;
    // left:-150vh;
    left: calc(-100% / 2 * 5);
    right:0;
    top:0;
    bottom:0;
    width: calc(100% / 2 * 5);
    height:100%;
    display:block;
    overflow: hidden;
    background: rgba(255,255,255,.5);
    opacity: 1;
  }
  &.invisible {
    transform: translateX(389%);
    // transform: translateY(-389%);
    opacity: 0;
    // display: none;
    visibility: hidden;
    // height:0;
    transition: transform .75s ease-in-out visibility .95s ease;
    transition-delay: .25s;
  }
}
// BG light warning
.bg-light-warning {
    background-color: lighten($warning,40%);
}
// Cards
.card {
    transition: .5s ease;
    border-radius: 0;
    // border:0;    
    // border-top-left-radius: .5rem;
    // border-top-right-radius: .5rem;
    &-header {
        border-radius: 0;
        // border:0;
        // border-top-left-radius: .5rem;
        // border-top-right-radius: .5rem;
    }
    &-footer {
        padding-top:1rem;
        padding-bottom:1rem;
    }
    &-header, &-footer {
        transition: .5s ease;
    }
    // border:0;
    // @extend %box-shadow-dark;
    &:hover {
        @extend %box-shadow-hover;        
        border-color:darken($warning,0%);
        .card-header, .card-footer {
            color: darken($warning,15%);
            border-color: darken($warning,0%);
            background-color: lighten($warning,35%);
        }
        .promotion-promo {
            transform: scale(1.175) translateY(2.5px);
            transform-origin: left center;
        }
        .promotion-price {
            transform: translate(2.5px,17.5px) scale(1.15);
            transform-origin: center right;
        }
    }
    &-body {
        position: relative;
        z-index: 0;
        overflow: hidden;
        // Spacing
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .btn {
        font-weight: bold;
        text-transform: uppercase;
    }
}
// Boxed divs
.boxed {
    @include make-row();
    // Spacings
    margin-top:5rem;
    margin-bottom:5rem;
    &-left-side {
        position: relative;
        padding-top: 3rem;
        padding-bottom: 3rem;
        &:before {
            content:"";
            position: absolute;
            left:0;
            top:-15%;
            z-index: 0;
            width: 56%;
            height: 70px;
            opacity: .5;                
            background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAANklEQVQoU2NkIBIwEqmOgXyFU6dObQDZkp2dDaZhAMVEmCKYJLJi8hSCTCLKanwhQL6vcZkKAMbtEAuAaq67AAAAAElFTkSuQmCC') repeat;
        }
    }
    &-right-side {
        position: relative;
        padding-top: 3rem;
        padding-bottom: 3rem;
        // h3 { color: $dark-warning; }
        &:before {
            content:"";
            position: absolute;            
            right:0;
            bottom:-8%;
            z-index: 0;
            width: 56%;
            height: 70px;
            opacity: .5;                
            background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAANklEQVQoU2NkIBIwEqmOgXyFU6dObQDZkp2dDaZhAMVEmCKYJLJi8hSCTCLKanwhQL6vcZkKAMbtEAuAaq67AAAAAElFTkSuQmCC') repeat;
        }
    }
    &-bottom {
        @include make-row();
        &-left,
        &-right {
            // padding:2rem 2rem;
            // margin-right:.25rem;
            // margin-left:.15rem;
            position: relative;
            overflow: hidden;
            // background-color: rgba(#f2f2f2,.3);
            &:before {
                content: "";
                position: absolute;
                right: -10%;
                top: 0;
                bottom: 0;
                z-index: -1;
                width: 640px;
                transform: rotate(-50deg);
                height: 180px;
                opacity: .45;
                background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAANklEQVQoU2NkIBIwEqmOgXyFU6dObQDZkp2dDaZhAMVEmCKYJLJi8hSCTCLKanwhQL6vcZkKAMbtEAuAaq67AAAAAElFTkSuQmCC');
                background-position: top center;
                background-repeat: repeat;
                background-attachment: scroll;
            }
        }
        &-content {
            background-color: rgba(#f1f1f1,.4);
            margin-top:1rem;
            margin-left:.5rem;
            margin-right:.5rem;
            padding:1.75rem;
        }
        // &-left {
        //     margin-left:-15px;
        // }
        // &-right {
        //     margin-right:-15px;
        // }
    }
}
.block {
    &-top {
        padding:4rem 6rem;
        margin: 0 auto 5rem auto;
        width: 100%;
        // Backgrounds
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;
        @include media-breakpoint-down(sm) { 
            padding:4rem 2rem;
            .display-1 {
                font-size: 3rem;
            }
        }
    }
}
// Footer
.footer-holder {
    // Spacings
    // margin-top:2rem;
    margin-bottom:1.25rem;
    padding-top:5rem;
    padding-bottom:5rem;
    position: relative;
    overflow: hidden;
    &:before {
        content: "";
        // Positioning
        position: absolute;
        left: -5%;
        top: 10%;
        bottom: 0;
        z-index: 0;
        width: 510px;
        transform: rotate(-50deg);
        height: 510px;
        opacity: .35;
        // Backgrounds
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAANklEQVQoU2NkIBIwEqmOgXyFU6dObQDZkp2dDaZhAMVEmCKYJLJi8hSCTCLKanwhQL6vcZkKAMbtEAuAaq67AAAAAElFTkSuQmCC');
        background-position: top center;
        background-repeat: repeat;
        background-attachment: scroll;
    }
}
// Animation 
@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}
@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}
@keyframes color {
    100%,
    0% {
        stroke: #d62d20;
    }
    40% {
        stroke: #0057e7;
    }
    66% {
        stroke: #008744;
    }
    80%,
    90% {
        stroke: #ffa700;
    }
}
/* =============================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}

/* Extra small devices (portrait phones, less than 576px)
 * No media query since this is the default in Bootstrap
 *
 * Small devices (landscape phones, 576px and up)
 */
@media (min-width: 576px) {  }
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { }
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) { }
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767px) { }
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991px) { }
/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199px) { }

/* Extra large devices (large desktops)
 * No media query since the extra-large breakpoint has no upper bound on its width
 */

// Media queries are available via Sass mixins:
// ---- UP
@include media-breakpoint-up(xs) { }
@include media-breakpoint-up(sm) { }
@include media-breakpoint-up(md) { }
@include media-breakpoint-up(lg) { }
@include media-breakpoint-up(xl) { }
// We occasionally use media queries that go in the other direction (the given screen size or smaller):
// ---- DOWN
@include media-breakpoint-down(xs) { }
@include media-breakpoint-down(sm) { }
@include media-breakpoint-down(md) { }
@include media-breakpoint-down(lg) { }
// There are also media queries and mixins for targeting a single segment of screen sizes using the minimum and maximum breakpoint widths.
// ---- ONLY
@include media-breakpoint-only(xs) { }
@include media-breakpoint-only(sm) { }
@include media-breakpoint-only(md) { }
@include media-breakpoint-only(lg) { }
@include media-breakpoint-only(xl) { }
// The Sass mixin for targeting the same screen size range would be:
@include media-breakpoint-between(md, xl) { }
@include media-breakpoint-between(xs, sm) { }


